@font-face { font-family: SawarabiGothic-Regular; 
			 src: url('htmlcodetest-Dateien/font/SawarabiGothic-Regular.ttf'); } 
h1 {
    width: 100%;				
    font-weight: lighter;			
    text-align: center;			
    font-size: 40px;
    color: white;
    font-face="font-family: SawarabiGothic-Regular;";
}
