@font-face { font-family: sawarabigothic-regular; 
src: url('font/SawarabiGothic-Regular.ttf'); } 
@font-face { font-family: fjallaone-regular; 
src: url('font/FjallaOne-Regular.ttf'); } 

h1{
    font-family: sawarabigothic-regular;
    width: 100%;				
    font-weight: lighter;			
    text-align: center;			
    font-size: 40px;
    color: white;
}

p{
    font-family: fjallaone-regular;
    width: 100%;				
    font-weight: lighter;			
    text-align: center;			
    font-size: 18px;
    color: white;
}
